.box {
  width: 50%;
  min-width: 500px;
  max-width: 800px;
  margin: 20px;
  padding: 50px;
  border: 5px solid blue;
  border-bottom: 2px dotted red;
  background-color: yellow;
  overflow-x: auto;
}

.box span {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  background-color: green;
  font-weight: bold;
}

span {
  display: block;
}


/* Block: h1, div, p 
Inline: span, b, strong, i, a  */