.dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.dashboard-title {
  display: flex;
  color: #fe3756;
  font-weight: normal;
  font-size: 22px;
}

.dashboard-title span {
  margin-right: 2px;
}

.dashboard-title-text {
  font-size: 18px;
}
